
.navbar {
  display: flex;           
  justify-content: center; 
  align-items: center;     
  padding: 10px 20px;
  background-color: blue;
  color: #fff;
}
.nav-links {
  list-style: none;        
  display: flex;           
  gap: 30px;               
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color:gold;         
}
.cursos-container img {
  width: 100px;       /* ancho fijo pequeño */
  height: 100px;      /* alto fijo para que sea cuadrada */
  object-fit: cover;  /* recorta la imagen si no es cuadrada */
  border-radius: 50%; /* opcional: hace la imagen circular */
  border: 2px solid #333; /* opcional: borde alrededor */
  margin-top: 10px;   /* espacio superior */
  display: block;     /* evita que se alinee con texto */
}